.flowModal {
  /*height: 100%;*/
  box-sizing: border-box;
  padding: 20px 0px;
  text-align: right; }
  .flowModal input {
    direction: rtl;
    border: solid 1px white;
    border-radius: 2px 2px 2px 2px; }
  .flowModal > .flow-modal-content {
    direction: rtl; }
    .flowModal > .flow-modal-content .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px; }
      .flowModal > .flow-modal-content .buttons .savebtn {
        background-color: var(--color-normal-dark);
        border-radius: 5px;
        /*border-radius: 3px 3px 3px 3px;*/
        border: none;
        width: 50px;
        height: 30px;
        margin-left: 25px;
        /*margin-top: 20px;*/
        color: var(--item-color); }
      .flowModal > .flow-modal-content .buttons .cancelbtn {
        background-color: var(--color-critical-dark);
        border-radius: 5px;
        /*border-radius: 3px 3px 3px 3px;*/
        border: none;
        width: 50px;
        height: 30px;
        color: var(--item-color); }
    .flowModal > .flow-modal-content > .input-title {
      display: inline-block;
      /*font-weight: 700;*/
      /*color: var(--main-color);*/
      /*color: #777777;*/
      color: var(--item-color);
      direction: rtl;
      margin-right: 45px;
      padding: 7px 10px; }
      .flowModal > .flow-modal-content > .input-title:after {
        content: ":"; }
    .flowModal > .flow-modal-content > input {
      display: inline-block;
      color: var(--item-color);
      background: none;
      border: none;
      float: left;
      margin-left: 45px;
      width: 145px;
      outline: none;
      padding: 8px 10px;
      cursor: default; }
    .flowModal > .flow-modal-content:not(.disabled) > input:not(:focus):hover {
      cursor: pointer;
      color: white; }
    .flowModal > .flow-modal-content:not(.disabled) > input:focus {
      background: rgba(255, 255, 255, 0.1);
      cursor: text; }
    .flowModal > .flow-modal-content:not(.disabled) > textarea:not(:focus):hover {
      cursor: pointer;
      color: white; }
    .flowModal > .flow-modal-content:not(.disabled) > textarea:focus {
      background: rgba(255, 255, 255, 0.1);
      cursor: text; }
