@import '../notification-counter/notification-counter.scss';



.notification-with-shadow {

	.shadow-notification {
		position: absolute;
		background-color: red;
		top: -$border;
		right: -$border;
		width: $height;
		height: $height;
		box-sizing: border-box;
		border: $border solid white;
		border-radius: $height;
		z-index: -1;
		box-shadow: var(--node-shadow);


		transition-property: transform;
		transition-duration: $duration;
		transition-timing-function: var(--timing-function);
		transform: scale(1);

		transform: scale(1);
		&.zero{
			transform: scale(0);
		}
	}
}