$backgroundStartX: -520px;
$backgroundEndX: 520px;
$height: var(--cpr-title);

.headline {
	position: relative;
	z-index: 9;
	display: inline-block;
	height: $height;
	line-height: $height;
	font-weight: 600;
	background: #bf8181;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 4px #f5f5f5;
	font-size: 200px;
	margin: 0;
	width: 100%;
	text-align: center;
	animation: lobby-title-appear .5s var(--timing-function);

	img {
		width: 400px;
		height: auto;
	}

	/*&:before {
		width: 100%;
		text-align: center;
		content: var(--text);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		background-image: -webkit-linear-gradient(
			-40deg, 
			transparent 0%,
			transparent 40%,
			#fff 50%,
			transparent 60%,
			transparent 100%
		);
		background-position: $backgroundStartX 0;
		-webkit-background-clip: text;
		-webkit-text-stroke: 0;
		animation-name: chrome_effect;
		animation-duration: 6s;
		animation-delay: 2s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

	}*/
}

/*@keyframes chrome_effect {
	0%  { background-position: $backgroundStartX 0; }
	10% { background-position: $backgroundEndX 0;  }
	100% { background-position: $backgroundEndX 0; }
}*/

@keyframes lobby-title-appear {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}